<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My E-commerce Site</title>
    <style>
      *{
        margin: 0;
        padding: 0;
        top: 0;
        box-sizing: border-box;
      }
      main{
        border: 1px solid blue;
         width: 500;
         height: 500;
         margin: auto;
         display: flex;
         align-items: center;
      }
    </style>
</head>
<body>
   <main>
     <div class="master">
        <p>Endpoints Can be found in the Documentation</p>
  </div>
   </main>
</body>
</html>